page-forklaring {
    .knapp {
        width: 48%;
    }
    .forklaring {
        font-size: 4rem;
        height: 90%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }
}
